<div id="prueba" class="container " fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign="space-around stretch" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="20px">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource">
            
            
            <ng-container matColumnDef="Nombres">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                    <mat-form-field class="filter">
                        <mat-label>Nombres</mat-label>
                        <input matInput autocomplete="off" [formControl]="NombreFiltro">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let solicitud"> {{solicitud.Nombres}} </td>
            </ng-container>

            <ng-container matColumnDef="Apellidos">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                  <mat-form-field class="filter">
                      <mat-label>Apellidos</mat-label>
                      <input matInput autocomplete="off" [formControl]="ApellidoFiltro">
                  </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let solicitud"> {{solicitud.Apellidos}} </td>
          </ng-container>
            
            <ng-container matColumnDef="Telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                    <mat-form-field class="filter">
                        <mat-label>Celular</mat-label>
                        <input matInput autocomplete="off" [formControl]="TelefonoFiltro">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let solicitud"> {{solicitud.Telefono}} </td>
            </ng-container>
            <ng-container matColumnDef="Email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                    <mat-form-field class="filter">
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput autocomplete="off" [formControl]="EmailFiltro">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let solicitud"> {{solicitud.Email}} </td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Acciones
                </th>
                <td mat-cell *matCellDef="let solicitud">
                    <div fxLayout="column">
                        
                        <button color="primary" type="button" mat-stroked-button (click)="Modificar_Datos(solicitud)">
                            Modificar Registro</button>
                        <button color="warn" type="button" mat-stroked-button (click)="Eliminar_Datos(solicitud)">
                            Eliminiar Registro</button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
    </div>
    <div>
      <button type="button" mat-stroked-button (click)="Agregar_Datos()">
        Agregar Responsable</button>
    </div>
</div>