<div fxLayoutAlign="space-around center" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">

  <div>

  </div>
  <span > ESTA SEGURO DE ELIMINAR LA INFORMACION DE LA ACTIVIDAD?</span>


  <div *ngIf="data">
    <p><span></span></p>
    <p><span>FECHA DE CREACION: {{data.Fecha_Creacion}}</span></p>
    <p><span>FECHA LIMITE: {{data.Fecha_Limite}}</span></p>
    <p><span>RESPONSABLE: {{data.Responsable}}</span></p>
    <p><span>DESCRIPCION: {{data.Descripcion}}</span></p>
    <p><span>ESTADO: {{data.Estado}}</span></p>

    <p><span></span></p>

  </div>
  <div>
    <button *ngIf="data" color="warn" type="button" mat-stroked-button (click)="Eliminar_Datos()">
      Eliminar Registro</button>
  </div>
  <div>
    <button color="warn" type="button" mat-raised-button (click)="Atras()">Atras</button>
  </div>
</div>