<div class="ventana">
  <mat-toolbar class="fondo">CREACION DE RESPONSABLES</mat-toolbar>
  <div style="height: 30px"></div>

  <form fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center"
    fxLayoutAlign.gt-md="space-around center" novalidate [formGroup]="AsignacionCargaForm" #fform="ngForm"
    (ngSubmit)="onSubmit()" fxLayoutGap="20px">


    <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayoutAlign="space-around center"
      fxLayoutAlign.gt-md="space-around center">
      <mat-form-field >
        <input matInput formControlName="Nombres" placeholder="Nombres" type="text" autocomplete="off" required>
        <mat-error *ngIf="formErrors.Nombres">{{formErrors.Nombres}}</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput formControlName="Apellidos" placeholder="Apellidos Completo" type="text" autocomplete="off" required>
        <mat-error *ngIf="formErrors.Apellidos">{{formErrors.Apellidos}}</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput formControlName="Telefono" placeholder="Celular" type="text" autocomplete="off" required>
        <mat-error *ngIf="formErrors.Telefono">{{formErrors.Telefono}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="Email" placeholder="Correo Electronico" type="text" autocomplete="off"
          required>
        <mat-error *ngIf="formErrors.Email">{{formErrors.Email}}</mat-error>
      </mat-form-field>

    </div>

    <button mat-raised-button type="submit" [disabled]="!AsignacionCargaForm.valid">Registrar Responsable</button>
    <div>
      <button color="warn" type="button" mat-raised-button (click)="Atras()">Atras</button>
    </div>
  </form>
  
</div>