<div class="ventana">
  <mat-toolbar class="fondo">CREACION DE ACTIVIDADES</mat-toolbar>
  <div style="height: 30px"></div>

  <form novalidate [formGroup]="AsignacionCargaForm" #fform="ngForm" (ngSubmit)="onSubmit()" fxLayout="column"
    fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="20px">


    <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayoutAlign="space-around center"
      fxLayoutAlign.gt-md="space-around center">
      <mat-form-field>
        <input matInput formControlName="Fecha_Creacion" placeholder="Fecha_Creacion" type="text" autocomplete="off"
          required>
        <mat-error *ngIf="formErrors.Fecha_Creacion">{{formErrors.Fecha_Creacion}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="Fecha_Limite" placeholder="Fecha_Limite" type="text" autocomplete="off"
          required>
        <mat-error *ngIf="formErrors.Fecha_Limite">{{formErrors.Fecha_Limite}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Responsable" formControlName="Responsable">
          <mat-option *ngFor="let responsable of Responsable" [value]="responsable._id">{{responsable.Nombres}}
          </mat-option>
          <mat-error *ngIf="formErrors.Responsable">{{formErrors.Responsable}}</mat-error>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="Descripcion" placeholder="Descripcion" type="text" autocomplete="off" required>
        <mat-error *ngIf="formErrors.Descripcion">{{formErrors.Descripcion}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="Estado" placeholder="Estado" type="text" autocomplete="off" required>
        <mat-error *ngIf="formErrors.Estado">{{formErrors.Estado}}</mat-error>
      </mat-form-field>

    </div>

    <button mat-raised-button type="submit" [disabled]="!AsignacionCargaForm.valid">Registrar Actividad</button>
    <div>
      <button color="warn" type="button" mat-raised-button (click)="Atras()">Atras</button>
    </div>
  </form>
</div>