
<div id="prueba" class="container " fxLayout="column" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign="space-around stretch" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="20px">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource">
            
            
            <ng-container matColumnDef="Fecha_Creacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                    <mat-form-field class="filter">
                        <mat-label>Fecha_Creacion</mat-label>
                        <input matInput autocomplete="off" [formControl]="Fecha_CreacionFiltro">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let solicitud"> {{solicitud.Fecha_Creacion}} </td>
            </ng-container>

            <ng-container matColumnDef="Fecha_Limite">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                  <mat-form-field class="filter">
                      <mat-label>Fecha_Limite</mat-label>
                      <input matInput autocomplete="off" [formControl]="Fecha_LimiteFiltro">
                  </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let solicitud"> {{solicitud.Fecha_Limite}} </td>
          </ng-container>
            
            <ng-container matColumnDef="Responsable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                    <mat-form-field class="filter">
                        <mat-label>Responsable</mat-label>
                        <input matInput autocomplete="off" [formControl]="ResponsableFiltro">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let solicitud"> {{solicitud.Responsable}} </td>
            </ng-container>
            <ng-container matColumnDef="Descripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                    <mat-form-field class="filter">
                        <mat-label>Descripcion</mat-label>
                        <input matInput autocomplete="off" [formControl]="DescripcionFiltro">
                    </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let solicitud"> {{solicitud.Descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="Estado">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="letra2">
                  <mat-form-field class="filter">
                      <mat-label>Estado</mat-label>
                      <input matInput autocomplete="off" [formControl]="EstadoFiltro">
                  </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let solicitud"> {{solicitud.Estado}} </td>
          </ng-container>
            
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Acciones
                </th>
                <td mat-cell *matCellDef="let solicitud">
                    <div fxLayout="column">
                        
                        <button color="primary" type="button" mat-stroked-button (click)="Modificar_Datos(solicitud)">
                            Modificar Registro</button>
                        <button color="warn" type="button" mat-stroked-button (click)="Eliminar_Datos(solicitud)">
                            Eliminiar Registro</button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
    </div>
    <div>
      <button type="button" mat-stroked-button (click)="Agregar_Datos()">
        Agregar Actividad</button>
    </div>
    
</div>