<div fxLayoutAlign="space-around center" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px">

  <div>

  </div>
  <span > ESTA SEGURO DE ELIMINAR LA INFORMACION DEL RRESPONSABLE?</span>


  <div *ngIf="data">
    <p><span></span></p>

    <p><span>NOMBRES: {{data.Nombres}}</span></p>
    <p><span>APELLIDOS: {{data.Apellidos}}</span></p>
    <p><span>TELEFONO: {{data.Telefono}}</span></p>
    <p><span>EMAIL: {{data.Email}}</span></p>
    
    <p><span></span></p>

  </div>
  <div>
    <button *ngIf="data" color="warn" type="button" mat-stroked-button (click)="Eliminar_Datos()">
      Eliminar Registro</button>
  </div>
  <div>
    <button color="warn" type="button" mat-raised-button (click)="Atras()">Atras</button>
  </div>
</div>