<div  [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar class="fondo">
    <button mat-icon-button (click)="snav.toggle()"><i class="fa fa-th-list "></i>
    </button>
    <span class="example-spacer"></span>
   <p><span>PRUEBA OAS</span></p>

    <!-- <a mat-list-item routerLink="/Profesores" class="letra"> Profesores</a>-->
  </mat-toolbar>

  <mat-sidenav-container  [style.marginTop.px]="mobileQuery.matches ? 0 : 0" class="ventana">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="0">
      <mat-nav-list>
        <a mat-list-item routerLink="/Home" >Inicio</a>
        <a mat-list-item routerLink="/Actividades" >Actividades</a>
        <a mat-list-item routerLink="/Responsables" >Responsables</a>
        <a mat-list-item routerLink="/Reportes" >Reportes</a>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="min-height: 500px">
      <router-outlet ></router-outlet>
    </mat-sidenav-content>