<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center"
fxLayoutAlign.gt-md="space-around center" style="align-items: center" class="ventana">
  <mat-card fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center"
  fxLayoutAlign.gt-md="space-around center" routerLink="/Responsables" >
    <mat-card-header>
      <mat-card-title class="tamano2">Responsables</mat-card-title>
      
    </mat-card-header>
    <i  class="fa fa-list-alt tamano" ></i>
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around center"
  fxLayoutAlign.gt-md="space-around center" routerLink="/Actividades">
    <mat-card-header>
      <mat-card-title class="tamano2">Actividades</mat-card-title>
      
    </mat-card-header>
    <i class="fa fa-files-o tamano" ></i>
    
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
  </mat-card>


</div>
